/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./images/1st.gif');
    /* Replace 'path/to/your/gif.gif' with the actual path to your GIF file */
    background-size: cover;
}

.content {
    background-color: rgba(64, 4, 4, 0.7);
    /* Add a semi-transparent background to make text readable */
    padding: 20px;
    border-radius: 10px;
}